*{
    background-color: white;
}
nav{
    height: 50px;
    border-radius: 10px;
}
.ikonka{
    width: 3em;
}
td,th{
    border: 1px solid black;
}
p{
    width: 40em;
    font-size: large;
}
.container{
    justify-content: space-between;
    background-color: rgb(212, 85, 0);
    border-radius: 1em;
}
.container--one .box--one {
    flex-grow: 0;
  }
  
  .container--two .box--one {
    flex-grow: 0.5;
  }
  
  .container--three .box--one {
    flex-grow: 1;
  }
  
  .container--four .box--one {
    flex-grow: 2;
  }
  
  
  body {
    margin: 1.5em;
    font-size: 130%;
    font-family: sans-serif;
  }
  
  .container {
    display: flex;  
    border: 3px solid black;
    padding: 0.25rem;
  }
  
  .container p a {
    background-color: white;
    text-decoration: none;
    text-decoration: black;
  }
  .container p a:hover {
    background-color: white;
    text-decoration: underline;
  }
  .container p {
    margin: 0.25rem;
    padding: 0.5rem;
    border: 3px solid black;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    border-radius: 15px;
  }
  
  
  fieldset {
    border: darkgrey 1px solid;
    padding: 0;
    margin-bottom: 2em; 
  }
  
  label {
    display: inline-block;
    padding: 0.5em;
    cursor: pointer;
  }
  
  .active {
    background: white;
  }
  .alergeny{
      width: 40em;
  }
  .nápoje{
      width: 40em;
  }
  .jídlo{
      width: 40em;
  }
  .obrazovka{
      width: 40em;
  }
  .top{
      text-align: right;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .top .logo{
      width: 15em;
  }
  .top{
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  table{
      font-size:xx-large;
  }
.mariotext {
 background-color: rgb(238, 122, 45);
 width: 15em;
 margin: 1px solid black;
  border-radius: 15px;
}
.paolatext {
  background-color: rgb(238, 122, 45);
  width: 15em;
  margin: 1px solid black;
   border-radius: 15px;
 }
.luigitext{
  background-color: rgb(238, 122, 45);
  width: 15em;
  margin: 1px solid black;
  border-radius: 15px;
}
.hidden{
  display:none;
}
.ob{
      text-align: right;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}
.tlacitko{
  width: 20em;
}
.obrazek{
  width: 80em;
  height:22em;
}
#opad{
  width: 400px;
}
.kontakty{
  text-align: left;
  margin: 20px
}
.objednavky{
  display: flex;
    flex-direction: column;
}
.lilie{
  background-color:brown; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid black
}
.pot{
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body {
  margin: 0 auto;
}
.liška{
  margin: 20px
}