*{
    background-color: whitesmoke;
}
nav{
    background-color: rgb(255, 147, 24);
    border: 2px solid white;
    height: 50px;
    border-radius: 10px;
}
.ikonka{
    width: 3em;
}
td,th{
    border: 1px solid black;
}
